body {
    background: #efefef url(images/fon.png);
    margin: 0 auto; 
    padding: 0;
}

.mid {
    width: 100%;
    margin: 0 auto;
    float: none;
    
}
.header {
    height: 300px; 
    background: #18ecdb;
    
}

.topmenu {
    float: left;
}





