html {
    height: 100%;
}

body {
    height: 100%;
    font: 14px/18px 'Times New Roman', Times, sans-serif;
    background-color: #FFF;
}

ol,
ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkid-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    width: 940px;
    margin: 0 auto;
}

#header {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 20px 0;
}

.nav {
    float: right;
    padding-top: 5px;
}

.nav li {
    float: left;
    margin-right: 40px;
}

.nav li:last-child: {
    margin-right: 0;
}

.nav a {
    text-transform: uppercase;
    font: 14px Arial, sans-serif;
    color: #fff;
}

.nav a:hover {
    color: #008080;
}

#home {
    height: 700px;
    padding-top: 270px;
    text-align: center;
    color: #fff;
    background: #222 url(../images/web12.jpg) no-repeat center bottom;
    -webkid-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#home h3 {
    margin-bottom: 80px;
    font: 40px/40px Arial, sans-serif;
    color: #FFC0CB;
    text-shadow: 1px 1px 3px black;
}

#home h1 {
    text-transform: uppercase;
    font: 75px/75px Arial, sans-serif;
    color: #00CED1;
    text-shadow: 1px 1px 3px black;
}

.box {
    padding: 120px 0;
}

#skills {
    text-align: center;
}

h2.title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font: bold 40px/40px Arial, sans-serif;
    color: #222;
    text-shadow: 1px 1px 3px #008B8B;
}

h5.title {
    margin-bottom: 10px;
    font: bold 18px/18px Arial, sans-serif;
    color: #222;
}

.descr {
    margin-bottom: 10px;
    font-size: 16px;
    color: #777;
}

.skills-wrap {
    padding-top: 70px;
}

.skills-item {
    float: left;
    width: 33.33%;
    padding: 90px 10px 0;
}

.logo1 {
    background: url(../images/html5.png) no-repeat center top;
}

.logo2 {
    background: url(../images/css3.png) no-repeat center top;
}

.logo3 {
    background: url(../images/javascript.png) no-repeat center top;
}

.about-wrap {
    padding-top: 70px;
}

#about {
    text-align: center;
    background: #D3D3D3;
}

.about-text {
    width: 35%;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 24px;
    font-family: 'Pacifico', cursive;
    color: #20B2AA;
}

.about-img {
    width: 30%;
}

.about-img img {
    display: inline-block;
    width: 177px;
    height: 177px;
    border: 4px solid #00FFFF;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -border-radius: 50%;
}

#contact {
    text-align: center;
    background: #696969 url(../images/map.png) no-repeat right top;
}

#contact h2.title {
    color: #fff;
}

#message {
    padding-top: 70px;
}

#message .left,
#message .right {
    width: 48%;
}

#message input[type="text"],
#message textarea {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    font: bold 14px/14px Arial, sans-serif;
    color: #222;
    background: #fff;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#message input[type="text"] {
    height: 50px;
    border: 1px solid #ccc;
}

#message textarea {
    height: 210px;
    border: none;
    resize: none;
}

::-webkit-input-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

::-moz-placeholder {
    text-transform: uppercase;
    font: bold 14px/14px Arial, sans-serif;
    color: #bbb;
}

.btn {
    display: inline-block;
    border: 0;
    padding: 20px 30px;
    text-transform: uppercase;
    font: bold 24px/24px Arial, sans-serif;
    color: #fff;
    background: #20B2AA;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

.btn:hover {
    background: #008080;
    color: #fff;
}

#copyright {
    padding: 25px 0;
    background: #2F4F4F;
}

#copyright p {
    margin-top: 30px;
    font: 20px/20px Arial, sans-serif;
    color: #00FFFF;
}

.social a {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 0 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
}

.ic-vk {
    background: url(images/vk.png) no-repeat;
}

.ic-fb {
    background: url(images/fb.png) no-repeat;
}

.ic-insta {
    background: url(images/insta.png) no-repeat;
}

#copyright .social {
    margin-top: 0;
    margin-left: 355px;
}

.right p {
    margin-top: 30px;
}
